header{
	display:flex;
	justify-content: space-between;
	height:75px;
}
.main_wrapper{
	display:flex;
}
.left_panel{
	width:15%;
	border: 0px;
	height: calc(100vh - 75px);
	padding-top: 45px;
}
.main_section{
	width:85%;
	border: 0px;
	height: calc(100vh - 75px)
}

#logo {
    float: left;
}

#control_icons{
    float: right;
}

.glyphicon {
    font-size: 26px;
    padding: 5px;
}

.container {
 padding-left: 5px;
}

